{% extends "base.html" %}
{% load static %}

{% block title %} Dodaj Brakujące Kryteria Oceny {% endblock %}

{% block content %}

<div class="d-flex flex-column align-items-center" style="height: 100%; width: 100%;">
    <hr>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h2 class="display-5 align-self-center header2"><i>Dodaj Brakujące Kryteria Oceny</i></h2>
    </div>
    dla zadania <i>{{ project.project_name }}</i>
    <hr>

    <div class="d-flex flex-row justify-content-center align-items-center">
        <h4 class="display-5 align-self-center header2"><i>Aktualnie Wybrane Kryteria</i></h4>
    </div>
    <table class="table-responsive-xl table-striped table-bordered" style="width: 100%;">
        <thead>
            <tr>
                <th scope="col" style="text-align: center;">Cena</th>
                {% if tender.is_guarantee %}
                <th scope="col" style="text-align: center;">Gwarancja</th>
                {% endif %}
                {% if tender.is_deadline %}
                <th scope="col" style="text-align: center;">Termin</th>
                {% endif %}
                {% for i in tender.other_criteria.all %}
                <th scope="col" style="text-align: center;">
                    {{ i.criteria_name }}       <a href="{% url 'delete-other-criteria' project.id tender.id i.id %}">(usuń)</a>
                </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="col" style="text-align: center;">{{ tender.value_weight }} %</td>
                {% if tender.is_guarantee %}
                <td scope="col" style="text-align: center;">{{ tender.guarantee.weight }} %</td>
                {% endif %}
                {% if tender.is_deadline %}
                <td scope="col" style="text-align: center;">{{ tender.deadline.weight }} %</td>
                {% endif %}
                {% for i in tender.other_criteria.all %}
                <td scope="col" style="text-align: center;">{{ i.weight }} %</td>
                {% endfor %}
            </tr> 
        </tbody>
    </table>
    {% if 100 > count and form != None %}
    <hr>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h4 class="display-5 align-self-center header2"><i>Dodaj Nowe Kryterium</i></h4>
    </div>
    <form class="d-flex flex-column justify-content-center align-items-center" style="height: 100%; width: 100%;" action="{% url 'add-other-criteria' project.id tender.id %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" id="submit">Dodaj</button>
    </form>
    {% endif %}
    {% if 100 == count %}
    <hr>
    <div class="d-flex flex-row justify-content-center align-items-center" style="padding-left: 0.5%;">
        <a href="{% url 'add-tender-details' project.id tender.id %}" class="btn btn-outline-primary m-1">Przejdź do modułu dodania wyników</a>
    </div>
    {% endif %}
    <div class="d-flex flex-row justify-content-center align-items-center" style="padding-left: 0.5%;">
        <a href="{% url 'edit-tender-criteria' project.id tender.id %}" class="btn btn-outline-primary m-1">Edytuj główne kryteria</a>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center" style="padding-left: 0.5%;">
        <a href="{% url 'edit-tender' project.id tender.id %}" class="btn btn-outline-primary m-1">Edytuj przetarg od początku</a>
    </div>
</div>

{% endblock %}