{% extends "base.html" %}
{% load static %}

{% block title %} Dodaj Kryteria Oceny {% endblock %}

{% block content %}

<div class="d-flex flex-column align-items-center" style="height: 100%; width: 100%;">
    <hr>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h2 class="display-5 align-self-center header2"><i>Okreś Główne Kryteria Oceny</i></h2>
    </div>
    dla zadania <i>{{ project.project_name }}</i>
    <hr>

    <form class="d-flex flex-column justify-content-center align-items-center" style="height: 100%; width: 100%;" action="{% url 'add-tender-criteria' project.id tender.id %}" method="POST">
        {% csrf_token %}
        {{ form.as_table }}
        <hr>
        <button type="submit" id="submit">Dalej</button>
    </form>
    {% if tender.is_other_criteria == True %}
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h4 class="display-5 align-self-center header2"><i>Brakujące kryteria będzie można dodać dalej</i></h4>
    </div>
    {% endif %}
    <hr>
    <div class="d-flex flex-row justify-content-center align-items-center" style="padding-left: 0.5%;">
        <a href="{% url 'edit-tender' project.id tender.id %}" class="btn btn-outline-primary m-1">Edytuj przetarg od początku</a>
    </div>
</div>

{% endblock %}