{% extends "base.html" %}
{% load static %}

{% block title %} Projekty Archiwalne {% endblock %}

{% block content %}

<div class="d-flex flex-column align-items-center" style="height: 100%; width: 100%; padding: 0.5%;">

    <table class="table-responsive-xl table-striped table-bordered" style="width: 100%;">
        <thead>
          <tr>
            <th scope="col" style="text-align: center;">Nr</th>
            <th scope="col" style="text-align: center;">Godz.<br>złożenia</th>
            <th scope="col" style="text-align: center;">Godz.<br>otwarcia</th>
            <th scope="col" style="text-align: center;">Wadium</th>        
            <th scope="col" style="text-align: center;">Data <br> złożenia</th>
            <th scope="col" style="text-align: center;">Nazwa</th>
            <th scope="col" style="text-align: center;">Szacunek</th>
            <th scope="col" style="text-align: center;">Inwestor</th>
            <th scope="col" style="text-align: center;">Termin</th>
            <th scope="col" style="text-align: center;">MMA</th>
            <th scope="col" style="text-align: center;">Rozliczenie</th>
            <th scope="col" style="text-align: center;">Strona <br> przetargu</th>
            <th scope="col" style="text-align: center;">Osoby</th>
            <th scope="col" style="text-align: center;">Kryteria</th>

          </tr>
        </thead>
        <tbody>
            {% for i in archives %}
          <tr>
            <th scope="col" style="text-align: center;">{{ i.project_number }}</th>
            <td scope="col" style="text-align: center;">{{ i.tender_time }}</td>
            <td scope="col" style="text-align: center;">{{ i.open_time }}</td>
            <td scope="col" style="text-align: center;">{{ i.deposit }}</td>
            <td scope="col" style="text-align: center;">{{ i.tender_date }}</td>
            <td scope="col" style="text-align: center;"><a href="{% url 'project-details' i.id %}">{{ i.project_name }}</a></td>
            <td scope="col" style="text-align: center;">{{ i.estimated_value }}</td>
            <td scope="col" style="text-align: center;">
              <a href="{% url 'investor-details' i.investor.id %}">{{ i.investor.investor_name }}</a></td>
            <td scope="col" style="text-align: center;">{{ i.project_deadline }}</td>
            <td scope="col" style="text-align: center;">{{ i.mma_quantity }}</td>
            <td scope="col" style="text-align: center;">{{ i.payment_method }}</td>
            <td scope="col" style="text-align: center;"><a href="{{ i.project_url }}" target=_blank>Klik</a></td>
            <td scope="col" style="text-align: center;">{% for j in i.person.all %} {{ j.username }} <br> {% endfor %}</td>
            <td scope="col" style="text-align: center;">{{ i.evaluation_criteria }}</td>

          </tr>
            {% endfor %}
        </tbody>
      </table>


</div>

{% endblock %}