{% extends "base.html" %}
{% load static %}

{% block title %} Usuń Wyniki Przetargu {% endblock %}

{% block content %}

<div class="d-flex flex-column align-items-center" style="height: 100%; width: 100%;">
    <hr>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h2 class="display-5 align-self-center header2"><i>Usuń Wyniki Przetargu</i></h2>
    </div>

    <div class="d-flex flex-column align-items-center" style="height: 100%;">
        <p>Czy na pewno usunąć całe wyniki?</p>
        <button type="button" class="btn btn-dark">
            <a style="color:blanchedalmond" href="{% url 'delete-tender-confirm' project.id tender.id %}">Usuń</a>
        </button>
    </div>
</div>

{% endblock %}