{% extends "base.html" %}
{% load static %}

{% block title %} Szczegóły Projektanta {% endblock %}

{% block content %}

<div class="d-flex flex-column align-items-center" style="height: 100%; width: 100%;">
    <hr>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h2 class="display-5 align-self-center header2"><i>Szczegóły Projektanta</i></h2>
    </div>

    <div class="d-flex flex-column align-items-center" style="height: 100%;">
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th scope="col">ID</th>
                <td scope="col">{{ designer.id }}</th>
            </tr>
            <tr>
                <th scope="col">Nazwa projektanta</th>
                <td scope="col">{{ designer.designer_name }}</td>
            </tr>
            <tr>
                <th scope="col">Adres projektanta</th>
                <td scope="col">{{ designer.designer_address }}</td>
            </tr>
            <tr>
                <th scope="col">Województwo</th>
                <td scope="col">{{ designer.designer_voivodeship }}</td>
            </tr>
            <tr>
                <th scope="col">Powiat</th>
                <td scope="col">{% if designer.designer_poviat %} {{ designer.designer_poviat }} {% else %} nieokreślono {% endif %}</td>
            </tr>
            <tr>
                <th scope="col">Ocena projektanta</th>
                <td scope="col">{{ designer.designer_note }}</td>
            </tr>
        </tbody>
      </table>
      {% if user.username == 'admin' %}
      <button type="button" class="btn btn-dark"><a style="color:blanchedalmond" href="{% url 'edit-designer' designer.id %}">Edytuj projektanta</a></button>
      <hr>
      <button type="button" class="btn btn-dark"><a style="color:blanchedalmond" href="{% url 'delete-designer' designer.id %}">Usuń projektanta</a></button>
      {% endif %}
    </div>

</div>

{% endblock %}