{% extends "base.html" %}
{% load static %}

{% block title %} Edytuj Przetarg {% endblock %}

{% block content %}

<div class="d-flex flex-column align-items-center" style="height: 100%; width: 100%;">

    <div class="d-flex flex-row justify-content-center align-items-center">
        <h2 class="display-5 align-self-center header2"><i>Edytuj Przetarg</i></h2>
    </div>
    dla zadania <i>{{ project.project_name }}</i>
    <hr>

    {% if error_message %}

    <div class="d-flex flex-row justify-content-center align-items-center">
        <h3 class="display-5 align-self-center header">
            {{ error_message }}
        </h3>
    </div>
    <hr>
    {% endif %}
    
    <form class="d-flex flex-column align-items-center" style="height: 100%; width: 100%;"
        action="{% url 'edit-tender' project.id tender.id %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="submit">Dalej</button>
    </form>

</div>

{% endblock %}