{% extends "base.html" %}
{% load static %}

{% block title %} Edytuj Firmę {% endblock %}

{% block content %}

<div class="d-flex flex-column align-items-center" style="height: 100%; width: 100%;">
    <hr>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h2 class="display-5 align-self-center header2"><i>Edytuj Firmę</i></h2>
    </div>
    <hr>

    {% if error_message %}

    <div class="d-flex flex-row justify-content-center align-items-center">
        <h3 class="display-5 align-self-center header">
            {{ error_message }}
        </h3>
    </div>
    <hr>
    {% endif %}

    <form class="d-flex flex-column align-items-center" style="height: 100%; width: 100%;"
        action="{% url 'edit-company' company.id %}" method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" id="submit">Edytuj Firmę</button>
    </form>

</div>

{% endblock %}