{% extends "base.html" %}
{% load static %}

{% block title %} Szczegóły Inwestora {% endblock %}

{% block content %}

<div class="d-flex flex-column align-items-center" style="height: 100%; width: 100%;">
    <hr>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h2 class="display-5 align-self-center header2"><i>Szczegóły Inwestora</i></h2>
    </div>

    <div class="d-flex flex-column align-items-center" style="height: 100%;">
    <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th scope="col">ID</th>
                <td scope="col">{{ investor.id }}</th>
            </tr>
            <tr>
                <th scope="col">Nazwa inwestora</th>
                <td scope="col">{{ investor.investor_name }}</td>
            </tr>
            <tr>
                <th scope="col">Adres inwestora</th>
                <td scope="col">{{ investor.investor_address }}</td>
            </tr>
            <tr>
                <th scope="col">Poziom adm.</th>
                <td scope="col">{{ investor.investor_administration_level }}</td>
            </tr>
            <tr>
                <th scope="col">Średnia ocena</th>
                <td scope="col">{{ investor.investor_note }}</td>
            </tr>
        </tbody>
      </table>
      {% if user not in noters %}

      <form class="d-flex flex-column align-items-center" style="height: 100%; width: 100%;" action="{% url 'investor-details' investor.id %}" method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" id="submit">Oceń</button>
      </form>
      <hr>
      {% endif %}
      {% if user == investor.investor_added_by %}
      <button type="button" class="btn btn-dark"><a style="color:blanchedalmond" href="{% url 'edit-investor' investor.id %}">Edytuj inwestora</a></button>
      <hr>
      <button type="button" class="btn btn-dark"><a style="color:blanchedalmond" href="{% url 'delete-investor' investor.id %}">Usuń inwestora</a></button>
      {% endif %}
    </div>

</div>

{% endblock %}