{% extends "base.html" %}
{% load static %}

{% block title %} Szczegóły Projektu {% endblock %}

{% block content %}

<div class="d-flex flex-column align-items-center" style="height: 100%; width: 100%;">

    <div class="d-flex flex-row justify-content-center align-items-center">
        <h2 class="display-5 align-self-center header2"><i>Szczegóły Projektu</i></h2>
    </div>
    <div class="d-flex flex-row justify-content-center align-items-center">
        <h3 class="display-5 align-self-center header2">{{ project.project_name }}</h3>
    </div>

    <div class="d-flex flex-column align-items-center" style="height: 100%;">
      <table class="table table-striped table-bordered">
        <tbody>
            <tr>
                <th scope="col">Numer projektu</th>
                <td scope="col">{{ project.project_number }}</td>
            </tr>
            <tr>
                <th scope="col">Godzina złożenia</th>
                <td scope="col">{% if project.tender_time %} {{ project.tender_time }} {% else %} brak {% endif %}</td>
            </tr>
            <tr>
                <th scope="col">Godzina otwarcia</th>
                <td scope="col">{% if project.open_time %} {{ project.open_time }} {% else %} brak {% endif %}</td>
            </tr>
            <tr>
                <th scope="col">Wadium</th>
                <td scope="col">{% if project.deposit %} {{ project.deposit }} zł {% else %} brak {% endif %}</td>
            </tr>
            <tr>
                <th scope="col">Numer postępowania</th>
                <td scope="col">{% if project.announcement_number %} {{ project.announcement_number }} {% else %} brak {% endif %}</td>
            </tr>
            <tr>
                <th scope="col">Data ogłoszenia</th>
                <td scope="col">{% if project.announcement_date %} {{ project.announcement_date }} {% else %} brak {% endif %}</td>
            </tr>
            <tr>
                <th scope="col">Województwo</th>
                <td scope="col">{{ project.voivodeship }}</td>
            </tr>
            <tr>
                <th scope="col">Powiat</th>
                <td scope="col">{% if project.poviat %} {{ project.poviat }} {% else %} nieokreślono {% endif %}</td>
            </tr>
            <tr>
                <th scope="col">Data złożenia</th>
                <td scope="col">{% if project.tender_date %} {{ project.tender_date }} {% else %} brak {% endif %}</td>
            </tr>
            <tr>
                <th scope="col">Szacunkowa wartość</th>
                <td scope="col">{% if project.estimated_value %} {{ project.estimated_value }} zł netto {% else %} brak {% endif %}</td>
            </tr>
            <tr>
                <th scope="col">Inwestor</th>
                <td scope="col">{{ project.investor.investor_name }}</td>
            </tr>
            <tr>
                <th scope="col">Termin realizacji</th>
                <td scope="col">{% if project.project_deadline_date %} {{ project.project_deadline_date }} {% elif project.project_deadline_months %} {{ project.project_deadline_months }} mies. {% elif project.project_deadline_days %} {{ project.project_deadline_days }} dni {% else %} brak {% endif %}</td>
            </tr>
            <tr>
                <th scope="col">Ilość MMA</th>
                <td scope="col">{% if project.mma_quantity %} {{ project.mma_quantity }} ton {% else %} brak {% endif %}</td>
            </tr>
            <tr>
                <th scope="col">Rodzaj rozliczenia</th>
                <td scope="col">{% if project.payment_method %} {{ project.payment_method }} {% else %} nieokreślono {% endif %}</td>
            </tr>
            <tr>
                <th scope="col">Link do strony</th>
                <td scope="col">{% if project.project_url %} <a href="{{ project.project_url }}" target=_blank>Klik</a> {% else %} brak {% endif %}</td>
            </tr>
            <tr>
                <th scope="col">Zespół/Oddział</th>
                <td scope="col">{{ project.division }}</td>
            </tr>
            <tr>
                <th scope="col">Odpowiedzialny</th>
                <td scope="col">{% if project.person.all.0 != None %} {% for j in project.person.all %} {{ j.username }} <br> {% endfor %} {% else %} brak {% endif %}</td>
            </tr>
            <tr>
                <th scope="col">Data komitetu ryzyka</th>
                <td scope="col">{% if project.rc_date %} {{ project.rc_date }} {% else %} brak {% endif %}</td>
            </tr>
            <tr>
                <th scope="col">Zgoda komitetu ryzyka</th>
                <td scope="col">{% if project.rc_agree %} jest zgoda {% else %} brak {% endif %}</td>
            </tr>
            <tr>
                <th scope="col">Kryteria oceny</th>
                <td scope="col">{% if project.evaluation_criteria %} {{ project.evaluation_criteria }} {% else %} nieokreślono {% endif %}</td>
            </tr>
            <tr>
                <th scope="col">Kryteria płatności</th>
                <td scope="col">{% if project.payment_criteria %} {{ project.payment_criteria }} {% else %} nieokreślono {% endif %}</td>
            </tr>
            <tr>
                <th scope="col">Partnerzy konsorcjum</th>
                <td scope="col">{% if project.jv_partners.all.0 %} {% for i in project.jv_partners.all %} {{ i }} <br> {% endfor %} {% else %} brak {% endif %}</td>
            </tr>
            <tr>
                <th scope="col">Uwagi</th>
                <td scope="col">{% if project.remarks %} {{ project.remarks }} {% else %} brak {% endif %}</td>
            </tr>
            <tr>
                <th scope="col">Projektant</th>
                <td scope="col">{% if project.designer %} {{ project.designer }} {% else %} nieokreślono {% endif %}</td>
            </tr>
            <tr>
                <th scope="col">Priorytet</th>
                <td scope="col">{% if project.priority %} {{ project.priority }} {% else %} nieokreślono {% endif %}</td>
            </tr> 
            
            <tr>
                <th scope="col">Status</th>
                <td scope="col">{{ project.status }}</td>
            </tr>
        </tbody>
      </table>
      {% if user.is_staff and request.session.division_id in divisions %}
      <button type="button" class="btn btn-dark"><a style="color:blanchedalmond" href="{% url 'edit-project' project.id %}">Edytuj/Uzupełnij dane</a></button>
      <hr>
      <button type="button" class="btn btn-dark"><a style="color:blanchedalmond" href="{% url 'delete-project' project.id %}">Usuń projekt</a></button>
      {% endif %}
    </div>
</div>

{% endblock %}