{% extends "base.html" %}
{% load static %}

{% block title %} Lista Projektów {% endblock %}

{% block content %}

<div class="d-flex flex-column align-items-center" style="height: 100%; width: 100%;">

    <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">Nr</th>
            <th scope="col">Godz.<br>złożenia</th>
            <th scope="col">Godz.<br>otwarcia</th>
            <th scope="col">Wadium</th>        
            <th scope="col">Data złożenia</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Szacunek</th>
            <th scope="col">Inwestor</th>
            <th scope="col">Termin</th>
            <th scope="col">MMA</th>
            <th scope="col">Rozliczenie</th>
            <th scope="col">Link</th>
            <th scope="col">Osoby</th>
            <th scope="col">Kryteria</th>

          </tr>
        </thead>
        <tbody>
            {% for i in projects %}
          <tr>
            <th scope="col">{{ i.project_number }}</th>
            <td scope="col">{{ i.tender_time }}</td>
            <td scope="col">{{ i.open_time }}</td>
            <td scope="col">{{ i.deposit }}</td>
            <td scope="col">{{ i.tender_date }}</td>
            <td scope="col"><a href="{% url 'project-details' i.id %}">{{ i.project_name }}</a></td>
            <td scope="col">{{ i.estimated_value }}</td>
            <td scope="col">
              <a href="{% url 'investor-details' i.investor.id %}">{{ i.investor.investor_name }}</a></td>
            <td scope="col">{{ i.project_deadline }}</td>
            <td scope="col">{{ i.mma_quantity }}</td>
            <td scope="col">{{ i.payment_method }}</td>
            <td scope="col"><a href="{{ i.project_url }}">Klik</a></td>
            <td scope="col">{% for j in i.person.all %} {{ j.username }} <br> {% endfor %}</td>
            <td scope="col">{{ i.evaluation_criteria }}</td>

          </tr>
            {% endfor %}
        </tbody>
      </table>


</div>

{% endblock %}