{% extends 'base.html' %}


{% block content %}

<style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }

  .form-signin .checkbox {
    font-weight: 400;
  }

  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }

  .form-signin .form-control:focus {
    z-index: 2;
  }

  .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .h3 {
    text-align: center;
  }
</style>

{% if message %}
<div class="d-flex flex-row justify-content-center align-items-center">
  <h3 class="display-5 align-self-center header">
    {{ message }}
  </h3>
</div>
{% endif %}

<form method="POST" class="form-signin">{% csrf_token %}
  <h1 class="h3 mb-3 font-weight-normal">Resetowanie hasła</h1>
  <input name="email" class="form-control" placeholder="Podaj adres skrzynki pocztowej" type="email" id="id_email"
    value="{{values.email}}" required="true">
  <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">Wyślij mi link</button>
</form>


{% endblock %}